*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p1{
    color: #0C713D;
}
header{
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%;
    z-index: 1000;
}
.dangnhap{
    margin-right: 20px;
}
.languages{
    display: flex;
}
.languages span:hover{
    color: green;
    cursor: pointer;
}
.paragraph{
    padding: 100px;
    padding-left: 30px !important;
    padding-top: 60px !important;
}
.paragraph h2{
    margin-bottom: 60px;
    color: #0C713D;
}
.paragraph p{
    margin-bottom: 30px;
}
section{
    position: relative;
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('bg.jpg') no-repeat top center / cover;
    overflow: hidden;
}
.bottom-item{
    margin-top: 95px;
}
.item1{
    display: flex;
    padding-bottom: 100px;
}
.bottom-item-container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.container{
    max-width: 80rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.cart{
    margin-left: 25px;
    border: 2px solid green;
    padding: 10px;
    border-radius: 12px;
    color: green;
    display: flex;
}
.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-container img{
    margin-right: 300px;
}
.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
}

.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid black;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: black;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: black;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
    margin-left: 15px;
}
.nav-link1 a{
    color: #0C713D;
}
.nav-link > a{
    line-height: 3rem;
    color: black;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    font-size: 15px;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 15rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    z-index: 10;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: white;
    color: black;
    padding: 2rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}
.dropdown-link i{
    transform: rotate(-90deg);
}
.dropdown-link{
    position: relative;
}
.btn-primary1{
    color: #0C713D;
    background-color: #fff;
    border-color: #0C713D;
}
.btn1 {
    font-family: 'Muli', sans-serif;
    transition: all 0.2s linear;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    color: green;
    font-size: 18px;
    padding: 7px 12px;
    border: 2px solid #0C713D ;
    border-radius: 8px;
}
.line-separator{
    height: 17px;
    border-left: 3px solid grey;
    margin: 0 5px;
}
@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.img1{
    width: 80px;
}
.menu-item{
    width: 100%;
    height:100%;
    margin: auto;
    position: relative;
}
.main-item{
    height: 55vh;
    margin-bottom: 5px;
    overflow: hidden;
}
.list-image{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}
.list-image div{
    flex:1;
    padding: 5px;
    display: none;
}
.img3{
    width: 100%;
    height:95px;
    object-fit:cover;
    object-position: center;
    cursor: pointer;
}
.img4{
    width: 100%;
    height: 55vh;
    object-fit:
    fill;
    object-position: center;
    cursor: pointer;
}
.img-feature{
    transition: 1s;
}
.control{
    position: absolute;
    top: 20vh;
    font-size: 50px;
    color:
    white;
    cursor: pointer;
    transform: translateY(-50%);
}
.prev{
    height:120px;
    padding-top: 60px;
    margin-left: 5px;
	opacity: 60%;

}
.next{
    height:120px;
    padding-top:60px;
    left: 97%;
	opacity: 60%;
}
.active{
    background:red;
}
.slider-dots{
    position:absolute;
    transform:translateX(-50%);
    display:flex;
    margin-left: 50%;
    justify-content:center;
    align-items:center;
    list-style:none;
    z-index:10;
    margin-top: -33px;
    opacity:60%;
}
.slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.25s linear;
  }
  .slider-dots li.active2 {
    background-color: #0C713D;
  }
  .home-map{
    background-color: #0C713D;
  }
  .home-map{
    padding-right: 0px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid1 {
    width: 50%;
    height: 611px;
    padding-top: 65px;
    padding-left: 60px;
    color: white;
}
.drop-list{
    height: 100px;
}
.container-fluid1 h2{
    margin-bottom: 15px;
    font-size: 40px;
}
.dropdown1 {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 254px;
    height: 40px;
  }
.dropdown-text {
    cursor: pointer;
    position: absolute;
    text-indent: 10px;
    line-height: 32px;
    background: none;
    border: 2px solid white;
    border-radius: 8px;
    width: 100%;
}
.dropdown-text{
    color:white;
}
.dropdown-content a {
    color:black;
}
  
.dropdown-toggle {
    font-size: 0;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    border: none;
    padding: 0;
    margin: 0 0 0 1px;
    background: transparent;
    text-indent: -10px;
    height: 34px;
    width: 100%;
}
.dropdown-toggle:focus {
    outline: 0;
}
  
.dropdown-content {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    list-style-type: none;
    position: absolute;
    top: 32px;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility:hidden;
    border-radius: 3px;
    text-indent: 10px;
    line-height: 32px;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
}
  
.dropdown-content a {
    display: block;
}
.dropdown-toggle:focus ~ .dropdown-text {
    border: 3px solid red;
}
  
.dropdown-toggle:focus ~ .dropdown-text {
    box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
    z-index: 2;
}
  
.dropdown-toggle:focus ~ .dropdown-text:after {
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #555 transparent;
}
.dropdown-toggle:focus ~ .dropdown-content {
    opacity: 1;
    visibility:visible;
    top: 42px;
}
footer{
    margin-top: 25px;
}
.map-list{
    margin-top: 20px;
    max-height: 330px;
    padding-right: 10px;
    overflow: auto;
    margin-bottom: 10px;
    list-style: none;
}
.ng-binding{
    display: block;
    float: left;
    padding: 10px 10px 10px 35px;
    background: url(../images/icon_store.svg) no-repeat 0 20px;
    font-size: 18px;
    position: relative;
    width: calc(70% - 35px);
    color: #fff;
}
.stores{
    position: relative;
    margin-bottom: 55px;
}
.btn2{
    
        margin-top: 10px;
        width: 28%;
        height: 40px;
        text-transform: none;
        color: #fff;
        background: none !important;
        border: 1px solid #fff !important;
        border-radius: 5px;
}
.btn2:hover{
    border: 1px solid red !important;
    cursor: pointer;
}
.f-bot {
    padding: 20px 0;
    color: #171717;
}
.f-container{
    width: 1300px;
    margin: auto;
    padding: 0 15px;
}
.row{
    height: 200px;
}
.left{
    width: 50%;
    line-height: 1.2;
    float: left;
}
.middle{
    width: 33.3%;
    float: left;
    padding-left: 35px;
}
.form-control{
    border-color: #0C713D;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    color: black;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #0C713D;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    float: left;
    margin-right: 5px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.right{
    width: 16%;
    float: left;
  }
.copyright {
    font-size: 0.7em;
    line-height: 1.6;
    padding: 2px 15px 3px;
    color: #8d8d8d;
}
.black {
    background-color: #010101;
    color: #fff;
}
.text-center {
    text-align: center;
}
.modal_inner{
    width: 400px;
    position:
    relative;
    top: 10%;
    margin:
    auto;

    border-radius: 5px;
    overflow: hidden;
    animation: modalShow 0.2s linear;
    padding-top: 90px!important;
    padding: 0px 10px;
    z-index: 999;
 }
 .modal_header{
    color:
    white;
    position: absolute;
    top: 3%;
    left: 151px;
 }
 .modal_body{
    padding: 63px 63px;
    padding-bottom: 0px;
    background: white;
    height: 282px;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
 }
 .modal_footer{
    padding:42px 45px;
    padding-top: 0!important;
    text-align:right;
    background-color: white;
    border-radius:0px 0px 15px 15px ;

 }
 .modal_footer button{
    padding: 19px 105px;
    color:white;
    background: green;
    border-radius:35px;
    border:none;
    outline:none;
    cursor: pointer;
 }
 .modal_footer button:hover{
    background-color: #0C713D;
 }
 .img6{
    width:120px;
    border-radius: 114px;
    margin-right: 20px;
}
.img5{
    width: 40px;
    height: 40px;
    color:
    white;
    cursor: pointer;
}
.img{
    width: 40px;
    height: 40px;
    color: white;
    top: 58px;
    position: absolute;
    left: 153%;
}
.hide2{
    display: none !important;
 }
 .modal_body h2{
    color:var(--pink-color);
    margin-bottom:10px; 
 }
 .hide{
    display: none;
 }
 .modal{
    position:fixed;
    top:0;
    height:100vh;
    width:100vw;
    background: rgba(0,0,0,0.6);
}
.account{
    margin-top: 15px;
}
.chk {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
}